[Desktop Entry]
Name=Lockbox
GenericName=Password Manager
Comment=Secure and manage your passwords
Categories=System;Utility;Internet;
Exec=com.github.skarva.lockbox
Icon=com.github.skarva.lockbox
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.skarva.lockbox
Keywords=Password;Login;
