.note-content {
	padding: 3px;

	border-bottom-color: rgba(0,0,0,0.25);
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	border-left-color: rgba(0,0,0,0.25);
	border-left-style: solid;
	border-left-width: 1px;

	border-right-color: rgba(0,0,0,0.25);
	border-right-style: solid;
	border-right-width: 1px;

	border-top-color: rgba(0,0,0,0.25);
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-top-style: solid;
	border-top-width: 1px;

	transition-delay: 0;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.note-content-focus {
	border-bottom-color: rgba(62,161,239,0.5);
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	border-left-color: rgba(62,161,239,0.5);
	border-left-style: solid;
	border-left-width: 1px;

	border-right-color: rgba(62,161,239,0.5);
	border-right-style: solid;
	border-right-width: 1px;

	border-top-color: rgba(62,161,239,0.5);
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-top-style: solid;
	border-top-width: 1px;

	transition-delay: 0;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.note-text text {
	background-image: linear-gradient(rgb(60,60,60), rgb(62,62,62));
}
